<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1F3neRDIptkJ9wP4K5QKmNyHR4xWbXYs</string>
	<key>GCM_SENDER_ID</key>
	<string>818305020599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.divyanithota.Instant-Chat</string>
	<key>PROJECT_ID</key>
	<string>instant-chat-6d967</string>
	<key>STORAGE_BUCKET</key>
	<string>instant-chat-6d967.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818305020599:ios:48ef7436a31d24c18c9332</string>
</dict>
</plist>